################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Adventofcode/.vs
/Adventofcode/Day01/obj
/Adventofcode/Day01/bin
